/* shared style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


nav .btn{
    background: #3f8f5a;
  color: white;
  padding: 12px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

/* main style */

nav{
    width: 100%;
    margin: 0px;
    background-color: #ffffff;
}


nav .nav-container{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


nav .menu{
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
     list-style: none;
}


nav .menu a{
    text-decoration: none;
   
}

nav .logo{
    width: 139px;
    height: 60px;
}
